@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  background: $logo-gradient;

  a img {
    width: $sidebar-width-open - 30px;
  }
}

.nav {
  /*padding: 10px 0;
  overflow-y: auto;*/
}


.sidenav {
  position: absolute;
  top: calc(94px + 12px);
  left: 0;
}
/*.sidenav .sidenavLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  width: 80px;
  height: 80px;
  border-radius: 0px 8px 8px 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}*/
.sidenav .sidenavLink.selected {
  color: #23C3F3
}
@media (max-width: 468px) {
  .sidenav {
      top: calc(60px + 12px);
  }
}
